src/__pycache__/*
src/utils_cython.c
src/utils_cython.cpython-38-x86_64-linux-gnu.so
src/utils_cython.html
src/build/temp.linux-x86_64-3.8/utils_cython.o
src/modeling/__pycache__/*
src/build/temp.linux-x86_64-cpython-37/utils_cython.o
src/build/lib.linux-x86_64-cpython-37/utils_cython.cpython-37m-x86_64-linux-gnu.so
src/utils_cython.cpython-37m-x86_64-linux-gnu.so

models.densetnt.set_predict.1/**/*
!models.densetnt.set_predict.1/model_save
!models.densetnt.set_predict.1/model_save/model.16.bin
models.densetnt.1/**/*
!models.densetnt.1/model_save
!models.densetnt.1/model_save/model.16.bin
__pycache__/carla_visualize.cpython-37.pyc
bound_info.npy
lane_info.npy
.vscode/settings.json
